<h2><%= data.header %></h2>

<sexform class="<%= data.sextype %>">
	<form action="post" method="<%= data.url %>">
		<when><span>When</span><input name="when" type="date" required/></when>
		<who><span>Who</span><input name="when" type="text" placeholder="Who" required/></who>
		<rating><span>Rating</span><input name="when" type="text" placeholder="Rating" required/></rating>
		<location><span>Location</span><input name="when" type="text" placeholder="Location" required/></location>
		<where><span>Where</span><input name="where" type="text" placeholder="Where" required/></where>
		<extra><span>Extra</span><br><button name="save" type="submit" value="1">Save</button></extra>
	</form>
	<!--<seximage><img src="img/sex/full/<%= data.sextype %>.png" alt="<%= data.sextype %>"/></seximage>-->
</sexform>