<!--<h2><%= data.header %></h2>-->
<sexform class="<%= data.sextype %> blocks">
	<i class="icon-down-open" style="display: none;"></i>
	<date>
		<info>
			<div>
				Today, Mon 28
			</div>
		</info>
	</date>
	<when>
		<info>
			<div>
				<h2><%= data.sextype %></h2>
				<date><%= data.sextime[1] %></date>
			</div>
		</info>
		<detailsimage>
			<div>
				<img src="img/sex/thumb/<% var sexType = data.sextype.charAt(0).toUpperCase() + data.sextype.slice(1); %><%= sexType %>.png" alt="<%= data.sextype %>"/>
			</div>
		</detailsimage>
	</when>
	<who>
		<info>
			<div>
				<h2>Who</h2>
				<searchSelectedItems><%
					for(var index in data.who){ %>
					<%= index %>
					<% if(index !== Object.keys(data.who)[--Object.keys(data.who).length]){ %>, <% }
					} %></searchSelectedItems>
			</div>
		</info>
		<detailsimage>
			<div>
				<img src="img/sex/who.png" alt="Who"/>
			</div>
		</detailsimage>
	</who>
	<Rating>
		<info>
			<face><img src="img/faces/thatsit.png" alt="My Face!!!"/></face>
			<face><img src="img/faces/usedface.png" alt="My Face!!!"/></face>
			<face><img src="img/faces/chuffedface.png" alt="My Face!!!"/></face>
			<face><img src="img/faces/argyeface.png" alt="My Face!!!"/></face>
			<face><img src="img/faces/cumface.png" alt="My Face!!!"/></face>
		</info>
	</Rating>
	<Location>
		<info>
			<div>
				<h2>Location</h2>
				<location><%= data.location[1] %></location>
			</div>
		</info>
		<detailsimage>
			<div>
				<img src="img/sex/location.png" alt="Where"/>
			</div>
		</detailsimage>
	</Location>
	<Where>
		<info>
			<div>
				<h2>Place</h2>
				<searchSelectedItems><%
					for(var index in data.where){ %>
						<%= index %>
						<% if(index !== Object.keys(data.where)[--Object.keys(data.where).length]){ %>, <% }
					} %></searchSelectedItems>
			</div>
		</info>
		<detailsimage>
			<div>
				<img src="img/sex/where.png" alt="Location"/>
			</div>
		</detailsimage>
	</Where>
	<Entry>
		<info>
			<div>
				<h2>Diary Entry</h2>
				<% if (data.diary.length !== 0) { %>
					<entrytext><%= data.diary %></entrytext>
				<% } %>
			</div>
		</info>
		<detailsimage>
			<div>
				<img src="img/sex/pencil.png" alt="Diary Entry"/>
			</div>
		</detailsimage>
	</Entry>
	<extra>
		<h2>Extra Details?</h2>
	</extra>
</sexform>
<save>
	<h2>Save the sex?</h2>
	<img src="img/sex/save.png" alt="Save?"/>
</save>