<% Object.keys(data).forEach(function(key){ var currentSex = data[key];%>
	<div class="<%= currentSex.sexstring %>" id="<%= currentSex.id %>">
		<imgCon><img src="img/sex/thumb/<%= currentSex.sexstring %>.png" alt="<%= currentSex.sexstring %>"/></imgCon>
		<historydetails>
			<h2><%= currentSex.sexstring %><% if (typeof currentSex.who==="string"){%> - <%= currentSex.who %> <% } %></h2>
			<date><%= currentSex.datetring %><% if (typeof currentSex.city==="string"){%> - <%= currentSex.city %>, <%= currentSex.country %><% } %></date>
			<deleteButton data-function="removeSex"><i class="icon-trash"></i></deleteButton>
		</historydetails>
	</div>
<%	}); %>