<% Object.keys(data).forEach(function(key){ var currentSex = data[key]; %>
		<div>
			<div class="date">
				<%= key %>
			</div>
			</date>
			<% currentSex.forEach(function(sexDetails){ %>
				<div>
					<info>
						<div>
							<h2><%= sexDetails.sexstring %><% if (typeof sexDetails.who==="string"){%> - <%= sexDetails.who %> <% } %></h2>
							<date><%= sexDetails.datetring %></date>
						</div>
					</info>
					<div class="sexImage">
						<div>
							<img src="img/sex/thumb/<%= sexDetails.sexstring %>.png" alt="<%= sexDetails.sexstring %>"/>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
<%	});  %>