<div class="profilehome">
    <div class="titlebox">
        <div class="you"><span>You</span></div>
        <div class="vs">Vs</div>
        <div class="theworld"><span>World</span></div>
    </div>
	<div class="stats">
		<item>
			<you><%= data.Wank+data.Hands+data.Oral+data.Sex+data.Anything %></you>
			<type>Total Sexes</type>
			<theworld>12312312</theworld>
		</item>
		<item>
			<you><%= data.Wank %></you>
			<type>Self Sex’d</type>
			<theworld>12312312</theworld>
		</item>
		<item>
			<you><%= data.Hands %></you>
			<type>Parts Handed</type>
			<theworld>12312312</theworld>
		</item>
		<item>
			<you><%= data.Oral %></you>
			<type>Privates Licked</type>
			<theworld>12312312</theworld>
		</item>
		<item>
			<you><%= data.Sex %></you>
			<type>Sex</type>
			<theworld>12312312</theworld>
		</item>
		<item>
			<you><%= data.Anything %></you>
			<type>Everything else</type>
			<theworld>12312312</theworld>
		</item>
		<item>
			<you>123</you>
			<type>Popular Location</type>
			<theworld>12312312</theworld>
		</item>
		<item>
			<you>123</you>
			<type>Different Partners</type>
			<theworld>12312312</theworld>
		</item>
		<item>
			<you>123</you>
			<type>Wanks/Sex</type>
			<theworld>12312312</theworld>
		</item>
	</div>
	<bg></bg>
	<menu>

	</menu>
</div>
<canvas id="sexpeak"></canvas>